<?xml version="1.0" ?>

<launch>
    <param name="/use_sim_time" value="true" />

    <node pkg="execution_monitoring" type="high_level_smach.py" name="high_level_smach" output="screen" />
    <node pkg="execution_monitoring" type="dummy_scanner.py" name="dummy_scanner" output="screen" />
    <node pkg="execution_monitoring" type="sensor_monitoring.py" name="sensor_monitoring" output="screen" />
    <node pkg="execution_monitoring" type="resolver.py" name="failure_resolver" output="screen" />
    <node pkg="execution_monitoring" type="republish_velodyne.py" name="republish_velodyne" output="screen" />

    <node pkg="arox_engine" type="arox_battery.py" name="arox_battery" output="screen" />

    <include file="$(find plan_generation)/launch/plan_generation.launch" />
</launch>
