<?xml version="1.0" ?>

<launch>
    <param name="/use_sim_time" value="true" />

    <node pkg="execution_monitoring" type="high_level_smach.py" name="high_level_smach" output="screen" />
    <node pkg="execution_monitoring" type="dummy_scanner.py" name="dummy_scanner" output="screen" />
    <node pkg="execution_monitoring" type="monitoring.py" name="monitoring" output="screen" />
    <node pkg="execution_monitoring" type="sensor_failure_resolver.py" name="sensor_failure_resolver" output="screen" />

    <include file="$(find plan_generation)/launch/plan_generation.launch" />
</launch>
